body
{
    background-color: gainsboro;
}


legend
{
    font-size:20px;
}
h3
{
    display:inline;
}

#form-container
 {
    display: none;
  }

  #form-container.show 
  {
    display: block;
  }
  .text
  {
    font-family:serif;
    font-size: 16px;
  }
  p
  {
    font-size:25;
    color:rgb(223, 22, 22);
  }
  .container
  {
    background-color: white;
    width: 22%;
  }